{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
         <div class="page-header">
	    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        

        <div>
            
            <h2>¿What Django is?</h2>
            <p>Django is an open source web development framework , written in Python , that respects the design pattern known as MVC (Model-View-Controller) . It was originally developed to manage multiple news-oriented pages for the World Company of Lawrence, Kansas, and was released to the public under a BSD license in July 2005 ; the framework was named after the gypsy jazz guitarist Django Reinhardt . In June 2008 it was announced that the newly formed Django Software Foundation would take over Django in the future.

Django's fundamental goal is to facilitate the creation of complex  websites. Django puts emphasis on re-use, connectivity and extensibility of components, rapid development and the principle Do not repeat yourself (DRY, of English Do not Repeat Yourself ). Python is used in all parts of the framework, including configurations, files, and data models.</p>
        </div>




        <div class="content container">
        <div class="row">
        <div class="col-md-8">
        
            {% block content %}
            {% endblock %}
        </div>
        </div>
        </div>

    
       
    </body>
</html>
